<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	.table{
		border-collapse : "collapse"
	}
	th {
		background-color : "lightgray"
	}
</style>
</head>
<body>
	<p>{{s_name}}의 주가변동</p>
	<table border = '' class = "table">
		<tr>
			<th>code</th>
			<th>name</th>
			<th>price</th>
			<th>date</th>
		<tr/>
			{% for item in list %}
		<tr>
				{% for i in item %}
			<td>
				<option>{{i}}</option>
			</td>
				{% endfor %}
		</tr>
			{% endfor %}
	</table>
</body>
</html>