<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	.table{
		border-collapse : "collapse"
	}
	th {
		background-color : "lightgray"
	}
</style>
</head>
<body>
	<p>{{s_name}}의 주가변동</p>
	<table border = '1' class = "table">
		<tr>
			<th>종목코드</th>
			<th>종목명</th>
			<th>가격</th>
			<th>가격시간</th>
		<tr/>
			
			{% for i in list %}
		<tr>
			<td>{{i.s_code}}</td>
			<td>{{i.s_name}}</td>
			<td>{{i.s_price}}</td>
			<td>{{i.in_date}}</td>
		</tr>
			{% endfor %}
	</table>
</body>
</html>